<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head: Title and Links-->
    <title>Dedetizadora|Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https:>//fonts.googleapis.com/css2?family=inter:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>

<div class="login-container">
    <h1>Login</h1>
    <form>
        <div class="input-container">
            <label for="username">Seu e-mail</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-container">
            <label for="password">Sua Senha</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button> Enviar </button>


        <br>
        <a href="/src/views/register.html">Cadastrar-se</a>
        </a>
        <br>
        <a href="/src/views/index.html">Início</a>
        </a>

    </form>
</div>
</body>

</html>